<% require_css "#{::RepertoireCore.public_path_for(:stylesheet)}/membership" %>

<div class="core new membership">

<div class="pageinfo">
<%= partial './user_detail', :with => @user %>
<%= navigation (session.user == @user) ? :history : :history %>
<h3>Subscribe</h3>
</div>
	
<div class="instructions">
  <% if @role.open_membership? %>
    <p>This role has an open membership policy.  Please type a short note explaining your reasons for joining.</p>
  <% else %>
    <p>This role requires review by a grantor before it is approved.  Please type a short message explaining your reasons for requesting membership, and it will be reviewed as soon as possible.</p>
  <% end %>  
  <p>Related subscriptions of interest - if any - are listed below.</p>
</div>

<fieldset id="subscribe">
<legend>Request new privileges</legend>
<% unless message.empty? %>
  <div class='error'><%= message[:error] %></div>
  <div class='notice'><%= message[:notice] %></div>   
<% end %>

<%= form :action => "/users/#{@user.shortname}/memberships/", :method => :post do %>
  <% # TODO. why doesn't :action => resource(@membership.user, @membership) work? %>
  <%= hidden_field :role_name, :value => @role.name %>
  <div><label for="role">Role</label><div id="role" class="value"><%= @role.title || @role.name %></div></div>
  <div><label for="date">Date</label><div id="date" class="value"><%= Time.now.formatted(:long) %></div></div>
  <div><label for="user_note">Note</label><div id="user_note"><%= text_area :name => :note, :rows => 8, :cols => 60  %></div></div>
  <div><%= submit "Subscribe" %></div>
<% end =%>
</fieldset>
<div style="clear:both"></div>

<% unless @history.empty? %>
<div class="relevant_byline">Items from your history relevant to the current request:</div>
<%= partial './memberships_table', :memberships => @history %>
<% end %>
</div>

</div>