<% @css_namespace = 'admin' %>

<% throw_content :jquery do %>
  $(':input[@type="text"]:first').focus();
<% end %>

<fieldset><legend>Login</legend>
<% unless @notice.blank? %>
<p class="notice"><%= @notice %></p>
<% end %>
<div id="login_form">
<%= form :action => url(:login) do -%>
<p><%= text_field :name => "email", :label => "Email", :value => @email %></p>
<p><%= password_field :name => "password", :label => "Password" %></p>
<p><%= check_box :name => "remember_me", :checked => 'true' %>Remember Me</p>
<p><%= submit "Log in" %></p>
<p><a href="<%= url(:signup) %>">New user? Request an account.</a></p>
<p><a href="<%= url(:forgot_password) %>">Forgot your password?</a></p>
<% end =%>
</div>
</fieldset>
