<% require_js "#{::RepertoireCore.public_path_for(:javascript)}/lib/jquery" %>
<% require_js "#{::RepertoireCore.public_path_for(:javascript)}/lib/jquery.form" %>
<% require_js "#{::RepertoireCore.public_path_for(:javascript)}/rep.ajax-validate" %>

<% require_css "#{::RepertoireCore.public_path_for(:stylesheet)}/rep.ajax-validate" %>

<script language="javascript">
    $(document).ready(function() {
    	$('#edit_user form').ajaxValidate({ 
    	  url:        '<%= slice_url(:repertoire_core, :validate_user, :id => @user.id) %>',
    	  initialize: true
    	});
      $('#edit_user form #bio').focus();
    });
</script>

<div class="core">
<fieldset id="edit_user">
<legend>User Profile</legend>
  <% unless message.empty? %>
    <div class='error'><%= message[:error] %></div>
    <div class='notice'><%= message[:notice] %></div>
  <% end %>
<ul id="roles">
<% @user.roles.sort.each do |role| %>
  <li><%= role.title || role.name %></li>
<% end %>
<a href="<%= slice_url(:repertoire_core, :user_memberships, :shortname => @user.shortname) %>">Membership History</a>
</ul>  
<%= form_for @user, :action => slice_url(:repertoire_core, :user, :shortname => @user.shortname), :method => :put do %>
  <div id="user-image"><a href="http://en.gravatar.com/" title="Click to change your image" target="_blank"><img src="<%= gravatar_image_url(@user.email) %>"/></a></div>
  <div><div id="email"><%= @user.email %></div><div class="institution"><%= @user.institution %></div></div>
  <%= error_messages_for @user if @user.errors %>
  <div><label for="first_name">First</label><%= text_field :first_name %><div class='validate'></div></div>
  <div><label for="last_name">Last</label><%= text_field :last_name %><div class='validate'></div></div>
  <div><label for="shortname">Shortname</label><%= text_field :shortname %><div class='validate'></div><div class='byline'>Identifies you when others link to your collections in their blogs or elsewhere on the web</div></div>
  <div><label for="bio">About me</label><br/><%= text_area :bio, :rows => 8, :cols => 60 %></div>
  <div>><%= submit 'Update' %></div>
<% end =%>

</fieldset>
</div>