<div class="core">
<fieldset id="forgot_password">
<legend>Password Reset</legend>
<h3>Forgot your password?</h3>
<p>Please type the email address with which you signed up, and we'll send you a password reset message.</p>
<% unless message.empty? %>
  <div class='error'><%= message[:error] %></div>
  <div class='notice'><%= message[:notice] %></div> 
<% end %>
<%= form :action => slice_url(:repertoire_core, :password_reset_key) do %>
  <div><%= text_field :name => "email" %></div>
  <%= submit "Send" %>
<% end =%>	
</fieldset>
</div>