<% @css_namespace = 'admin' %>

<% throw_content :jquery do %>
  //$('#grant_form').ajaxForm();
  // code to update hidden field using quicksilver drill-down in roles list
  // TODO.  put this into a javascript component
  $('#role_q').liveUpdate('#roles_list').focus();
  $('.role').click(function() {
    var role_id = $(this).attr('role_id');
    $('.role').removeClass('selected');
    $(this).addClass('selected');
    $('input#membership[@name=role_id]').val(role_id);
    $('#role_q').focus();
  });
<% end %>

<div id="grant_panel">
<fieldset>
<legend>Grant to <%= @user.full_name %></legend>

<!-- error messages here -->

<!-- role selector -->
<form method="get" autocomplete="off">
  <input type="text" value="" name="role_q" id="role_q" />
	<ul id="roles_list" style="height:10em; width:10em; overflow:auto;">
		<% @roles.each do |role| -%>
  		<li class="role <%= 'selected' if @role && @role.id == role.id %>" title="<%= role.description %>" role_id="<%= role.id %>"><%= role.title %></li>
		<% end -%>
	</ul>
</form>

<!-- actual form -->
<form id="grant_form" action="<%= url(:grant) %>" method="post">
	<input type="hidden" name="user_id" value="<%= @user.id %>"/>
	<%= select_field :name => 'role_id', :collection => @roles, :text_method => :title %>
	
  <label for="note">Note:</label><input type="textfield" name="note"><%= @note %></input>
	<input type="submit" name="submit" value="Grant">
</form>

</fieldset>
</div>