<% @css_namespace = 'admin' %>

<% throw_content :jquery do %>
  $(".membership").click(function() {
	  $(this).find(".details").toggle("fast");
  });
  $(".option-link").click(function() {
	  $(this.rel).toggle("fast");
  });
<% end %>

<div id="nav">
  <div class="nav_item"><span class="number"><%= @requests_count %></span>&nbsp;Requests</div>
  <div class="nav_item"><span class="number"><%= @users.size %></span>&nbsp;Users</div>
</div>

<div id="container">
<div>
<% unless @notice.blank? %>
<p class="notice"><%= @notice %></p>
<% end %>
<table class="users" border="1">
<tr>
<th>Activated</th>
<th>Name</th>
<th>Roles</th>
<th>Actions</th>
</tr>
<% @users.each_with_index do |u, index| -%>
<tr class="user" title="<%= u.email %>">
<td><%= format_date u.activated_at %></td>
<td><%= u.first_name %>&nbsp;<%= u.last_name %></td>
<td>
<div class="roles">
<% u.memberships.sort.each do |m| -%>
<div class="membership <%= m.status %>"> 
<div class="overview"><%= m.role.title %>, <%= m.status %> <%= format_date m.approved_at %></div>
<div class="details" id="details_<%= index %>" style="display:none">
<div class="label">Reviewer:</div><div class="reviewer"><%= "#{m.reviewer.full_name}" if m.reviewer %></div>
<div class="label">User note:</div><div class="user_note"><%= m.user_note %></div>
<div class="label">Reviewer note:</div><div class="reviewer_note"><%= m.reviewer_note %></div>
</div>
</div>
<% end -%> <!-- memberships -->
</div>
</td>
<td>
<a class="option-link" href="#" rel="#details_area_<%= index %>">Details</a> |
<a class="option-link" href="#" rel="#details_<%= index %>">History</a> |
<a class="option-link" href="#" rel="#grant_area_<%= index %>">Grant</a>
</td>
<tr><td colspan="4">
<div id="details_area_<%= index %>" style="display:none">Bio: <%= u.bio %>
</div>
<div id="grant_area_<%= index %>" style="display:none">
<%= form :action => url(:grant), :method => :post do %>
<%= hidden_field :name => 'user_id', :value => u.id %>
<%= select :name => 'role_id', :collection => u.grantable_roles, :text_method => :title, :value_method => :id %>
<%= text_area :name => 'reviewer_note' %>
<%= submit 'Grant' %>
<% end =%>
</div>
</td></tr>
</tr>
<% end -%> <!-- users --> 
</table>
</div>