<script language="javascript">
  $(document).ready(function() {
  	$('#signup form').ajaxValidate({ 
  	  url:      '<%= slice_url(:repertoire_core, :validate_user) %>',
  	  delegate: { 'user[password_confirmation]': 'user[password]' }
  	});
    $('#signup form #user_email').focus();
  });
</script>

<div class="core">
<fieldset id="signup">
<legend>Sign up for a Repertoire account</legend>
<%= error_messages_for @user %>
<% unless message.empty? %>
  <div class='error'><%= message[:error] %></div>
  <div class='notice'><%= message[:notice] %></div>   
<% end %>
<p>Please fill out all the fields below.  Our server will email you an access code.</p>
<%= form_for @user, :action => resource(:users) do %>
  <div><label for="email">Email</label><%= text_field :email %><div class='validate'></div></div>
  <div><label for="first_name">First</label><%= text_field :first_name %><div class='validate'></div></div>
  <div><label for="last_name">Last</label><%= text_field :last_name %><div class='validate'></div></div>
  <div><label for="password">Password</label><%= password_field :password %><div class='validate'></div></div>
  <div><label for="password_confirmation">Confirm&nbsp;Password</label><%= password_field :password_confirmation %></div>
  <div><%= submit 'Register' %></div>
<% end =%>
</fieldset>
</div>