<% @css_namespace = 'admin' %>

<fieldset><legend>Change Password</legend>
<% unless message.empty? %>
<p class="notice"><%= message %></p>
<% end %>
<div id="reset_password_form">
<%= form_for :user, :action => url(:update_password, @user) do %>
  <% unless @user.forgotten_password? %>
   <p><%= password_field :name => "current_password", :label => "Current" %></p>
  <% end %>
  <p><%= password_field :password, :label => "New" %></p>
  <p><%= password_field :password_confirmation, :label => "Confirmation" %></p>
  <p><%= submit "Change" %> or <a href="<%= url(:edit_user, @user) %>">Cancel</a></p> 
<% end =%>
</div>
</fieldset>
<p id="contact">Questions or problems? Contact <a href="mailto:repertoire@mit.edu">repertoire@mit.edu</a></p>