<% require_js "#{::RepertoireCore.public_path_for(:javascript)}/lib/jquery" %>
<% require_js "#{::RepertoireCore.public_path_for(:javascript)}/lib/jquery.form" %>
<% require_js "#{::RepertoireCore.public_path_for(:javascript)}/rep.ajax-validate" %>

<% require_css "#{::RepertoireCore.public_path_for(:stylesheet)}/rep.ajax-validate" %>

<script language="javascript">
  $(document).ready(function() {
  	$('#reset_password form').ajaxValidate({
  	  url:        '<%= slice_url(:repertoire_core, :validate_reset_password) %>',
  	  delegate: { 'user[password_confirmation]': 'user[password]' }
  	});
    $('#edit_user form #bio').focus();
  });
</script>

<div class="core">
<fieldset id="reset_password">
<legend>Change Password</legend>
<% unless message.empty? %>
  <div class='error'><%= message[:error] %></div>
  <div class='notice'><%= message[:notice] %></div> 
<% end %>
<%= form_for @user, :action => slice_url(:repertoire_core, :update_password) do %>
  <% unless @user.forgotten_password? %>
   <div><label for="current_password">Current password</label><%= password_field :name => "current_password" %><div class='validate'></div></div>
  <% end %>
  <div><label for="password">New password</label><%= password_field :password %><div class='validate'></div></div>
  <div><label for="password_confirmation">Confirm</label><%= password_field :password_confirmation %></div>
  <div><%= submit "Change" %></div>
<% end =%>
</fieldset>
</div>