<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Repertoire Core Test Page</title>
    <link  href="<%= public_path_for :stylesheet, 'repertoire_core.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" />
    <script src="<%= public_path_for :javascript, 'jquery-1.2.6.pack.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'jquery.color.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'repertoire-helpers.js' %>" type="text/javascript" charset="utf-8"></script>
    <!-- 
    <script src="<%= public_path_for :javascript, 'quicksilver.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'jquery.form.pack.js' %>" type="text/javascript" charset="utf-8"></script>
    -->

<script type="text/javascript"> 
  jQuery(document).ready(function() {
    <%= catch_content :jquery %>
  });
</script>
  </head>
  <body class="<%= @css_namespace %>">
	  <div id="container">
  	  <div id="header">
	      <div id="banner">
          <h1>Hyperstudio</h1>
        </div>
      </div><div class="clear"></div>
      <div id="content"><%= catch_content :for_layout %></div>
    </div>
  </body>
</html>